body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fbe5e5;
}

h1 {
    color: #333;
}

#events-container, #packages-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:hover {
    background-color: #edb3b3;
    cursor: pointer;
}

#subtotal-container {
    margin-top: 20px;
}

#pay-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pay-button:hover {
    background-color: #218838;
}
